.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin-left: 20px;
}

.header .logo {
    width: 100px;
    height: auto;
}

.nav-link {
    color: #007bff;
    text-decoration: none;
    font-weight: normal;
    font-size: 1.2rem;
    transition: color 0.2s ease;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.active {
    color: #004b9a;
    font-weight: bold;
    text-decoration: underline;
}
