.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f4f4f4;
}

.header nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header nav ul li {
    margin-left: 20px;
}

.header .logo {
    width: 50px;
    height: auto;
}
